body {
  margin: 0;
}

.logo {
  background-image: url(../images/hora.svg);
  height: 30px;
  width: 30px;
  /*margin-left: auto;
  margin-right: auto; only if you want the item to be centered*/
  padding-top: 20px;
  padding-left: 40px;
  margin-left: 20px;
  background-repeat: no-repeat;
}

#triangle-topright {
  width: 800px;
  height: 800px;
  /*border-top: 800px solid #C7365D;
  border-left: 800px solid transparent;*/
  background-image: url(../images/redtriangle.svg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

 #triangle-up {
   /*width: 0;
   height: 0;*/
   border-left: 300px solid transparent;
   border-right: 600px solid transparent;
   border-bottom: 600px solid #C7365D;
   top: 30%;
   right: 5%;
   position: absolute;
 }

 #go_about {

 }

 #go_news {

 }

 #go_events {

 }

 #go_contact {

 }


 #paragraph1 {
   width: 600px;
   height: 300px;
   left: 120px;
   top: 20px;
   position: absolute;
 }

.vertical-menu {
    width: 100px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(../images/horamenu_alt.svg);
    text-indent: 10px;
}

.vertical-menu a {
    display: block;
    width: 79px;
    height: 30px;
    color: white;
    padding-left: 10px;
    padding-top: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #9B2240;
}

#about {
    background-color: none;
    height: 1000px;
    width: 100%;
    /*outline-color: red;
    outline-style: solid;
    outline-width: 5px; */
    /*position: relative; if you want the boxes on top of menu*/
}

#news {
    background-color: #E0E0E0;
    height: 1000px;
    width: 100%;
    /*outline-color: blue;
    outline-style: solid;
    outline-width: 5px;*/
}

#events {
    background-color: none;
    height: 1000px;
    width: 100%;
    /*outline-color: yellow;
    outline-style: solid;
    outline-width: 5px;*/
}

#contact {
    background-color: #E0E0E0;
    height: 1000px;
    width: 100%;

}
